@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

body {
  background: #1B1034;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  margin-top: 48px;
}

p {
  font-size: 18px;
  line-height: 30px;
  margin: 24px 0 64px;
  color: #BDB3F5;
  max-width: 480px;
}

img {
  width: 240px;
}

.button {
  background: #413585;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 200ms;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #695BB9;
}