@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #1B1034;
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  width: 100%;
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  min-width: 380px;
  height: 100%;
  background: #1F153C;
  padding: 32px;
  transition: 400ms;
}

.stepper {
  width: 100%;
  height: 48px;
  max-height: 48px;
  display: flex;
  align-items: center;
}

.stepper-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.stepper .stepper-item:nth-child(1) {
  width: auto;
}

.stepper-item-line {
  width: 100%;
  height: 3px;
  background: #26194D;
  transition: 300ms;
}

.stepper-item-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  background: #26194D;
  border-radius: 32px;
  transition: 300ms;
}

.stepper-item-circle img {
  width: 48px;
  opacity: 0;
  scale: 0.5;
  overflow: hidden;
}

.stepper-item-active .stepper-item-circle img{
  opacity: 1;
  scale: 1;
}

.stepper-item-active .stepper-item-circle {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
}

.stepper-item-filled div {
  background: #413585;
}


.step-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 48px 0px 24px;
  transition: 300ms;
}

.step-description p {
  color: #BDB3F5;
  font-size: 16;
  line-height: 24px;
  height: 144px;
  max-width: 360px;
}

.step-description img {
  width: 120px;
  display: none;
}


.button {
  background: #413585;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 200ms;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: none;
}

.button:hover {
  background: #695BB9;
}

.step-description-final {
  gap: 24px;
}

.step-description-final img {
  display: block;
  margin-bottom: 24px;
}

.step-description-final .button {
  display: block;
  margin-top: 24px;
}

.step-description-final p {
  height: auto;
}


.preview-image {
  width: 100%;
}

.step-description-final ~ .preview-image {
  display: none;
}

.preview-image-animation {
  animation: preview-image 300ms ease-in-out;
}

@keyframes preview-image {
  0% {opacity: 0.5;}
  100% {opacity: 1;}
}


.scheme-playground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scheme-wrapper {
  display: grid;
  grid-template-columns: 1fr 64px 1fr;
  width: 100%;
  flex-grow: 1;
  max-width: 860px;
  gap: 4px;
  padding: 64px 48px 0;
  justify-items: center;
  align-items: start;
  align-content: start;
  transition: 1000ms;
}

.center-arrow {
  grid-column: 2/3;
  grid-row: 1/8;
  padding: 37px 4px 45px;
  height: 100%;
  display: flex;
}

.center-arrow div:nth-child(1) {
  width: 32px;
  height: 2px;
  background: #311D68;
  align-self: end;
}

.center-arrow div:nth-child(2) {
  margin-top: 8px;
  align-self: stretch;
  width: 2px;
  background: #311D68;
}

.step-arrow-filled div:nth-child(1),
.step-arrow-filled div:nth-child(2) {
  transition: 300ms;
  background: #554CA4;
}

.step-arrow-filled path {
  transition: 300ms;
  fill: #554CA4;
}



.scheme-item {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  padding: 24px;
  color: #311D68;
  border: 2px dashed #311D68;
  border-radius: 12px;
  transition: 300ms;
} 

.scheme-start {
  border-radius: 64px;
  color: #fff;
  background: #413585;
  border: none;
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.15), inset 0px 2px 4px rgba(255, 255, 255, 0.25);
}

.scheme-end {
  border-radius: 64px;
}

.scheme-item-active {
  color: #655AA8;
  border: 2px dashed #655AA8;
  background: #221840;
  box-shadow: inset 0px 12px 25px rgba(0, 0, 0, 0.20);
}

.scheme-item-enter {
  background: #281F4C;
  box-shadow: inset 0px 12px 25px rgba(0, 0, 0, 0.30);
}

.scheme-item-done {
  background: #695BB9;
  border: none;
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.15), inset 0px 2px 4px rgba(255, 255, 255, 0.25);
  color: #fff;
}

.scheme-item-done svg,
.scheme-item-done br {
  display: none;
}

.scheme-item-error {
  animation: scheme-item-error 600ms ease-in-out;
}

@keyframes scheme-item-error {
  25% {scale: 1.02;}
  50% {background: #5F2451; color: #F6B2E6; border-color: #9D4989; scale: 1;}
  75% {scale: 1.02;}
}

.variant-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
}

.variant-item {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 24px;
  background: #413585;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  border-radius: 12px;
  transition: 200ms;
}

.variant-item:hover {
  background: #695BB9;
  cursor: pointer;
}

.variant-item:hover svg path {
  stroke: #BDB3F5;
}


.logo {
  width: 140px;
  position: absolute;
  bottom: 24px;

}